@model List<student>


@{
    ViewData["Title"] = "Student List";
}

<h3>List of All Students</h3>
<p></p>
<p></p>
<div class="row">
    @foreach (var item in @Model)
    {
        <div class="card col-3">
            <div class="card-body">
                <h5 class="alert alert-secondary" role="alert">@item.name @item.surname </h5>
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.department.Name)
                </h5>



                <a asp-controller="students" asp-action="Detay" asp-route-id="@item.Id" class="btn btn-warning">Detail</a>
                <a asp-controller="students" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
            </div>
        </div>
    }


</div>

